name: flutter_app_auto_update
description: "A new Flutter project."
publish_to: 'none' 
version: 0.0.1+1
environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  dio: ^5.3.3
  package_info_plus: ^4.2.0
  path_provider: ^2.1.1
  flutter_markdown: ^0.7.4+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

